<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Settings for S1 -->
    <add key="S1" value="true"/>
    <add key="S1Name" value="S1"/>
    <add key="S1Color" value="Color.Red"/>
    <add key="S1Y2" value="false"/>

    <!-- Settings for S2 -->
    <add key="S2" value="true"/>
    <add key="S2Name" value="S2"/>
    <add key="S2Color" value="Color.Blue"/>
    <add key="S2Y2" value="false"/>

    <!-- Settings for S3 -->
    <add key="S3" value="false"/>
    <add key="S3Name" value="S3"/>
    <add key="S3Color" value="Color.Green"/>
    <add key="S3Y2" value="false"/>

    <!-- Settings for S4 -->
    <add key="S4" value="false"/>
    <add key="S4Name" value="S4"/>
    <add key="S4Color" value="Color.Orange"/>
    <add key="S4Y2" value="false"/>

    <!-- Settings for S5 -->
    <add key="S5" value="false"/>
    <add key="S5Name" value="S5"/>
    <add key="S5Color" value="Color.Pink"/>
    <add key="S5Y2" value="false"/>

  </appSettings>
</configuration>